*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid black;
    padding: 20px 32px;
    border-radius: 10px;
    display: flex;
    border: none;
    flex-direction: column;
    background: linear-gradient(rgb(252, 191, 191) , white);
    box-shadow: gray 15px 25px 25px;

}

.inputpass{
    box-shadow: gray 3px 3px 5px;
    border: none;
    outline: none;
    padding: 10px;
    width: 310px;
    background-color: white;
    font-size: large;
    border-radius: 5px;
    margin-block: 15px;
}
.row{
    display: flex;
margin-block: 10px;
}

.row h4{
    flex-basis: 100%;
}
.row label{ 
    flex-basis: 100%;
}
.row input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

#passbtn{
    background-color: white;
    color: black;
    border: none;
    padding-block: 8px;
    font-family: sans-serif;
    font-size: large;
outline: none;
margin-block: 10px;
font-weight: bold;
    box-shadow: 1px 2px 3px;
}

#passbtn:hover{
    border-radius: 4px;    color: white;
    background-color: black;
}